<!DOCTYPE html>
<html>
<head>
	<title>Gossip details</title>
</head>
<body>

  <div class="card">
    <div class="card-header">
      <p> Title: <%= @gossip.title %> </p>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h4>Content:</h4>
        <p> <%=@gossip.content %> </p>
        <footer class="blockquote-footer">Post by <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %> Located : <%=@gossip.user.city.name %> on <%= @gossip.created_at.strftime("%d/%m/%Y") %> at <%= @gossip.created_at.strftime("%H:%I") %> </cite></footer>
      </blockquote>
    </div>
  </div>
  
  <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-outline-secondary text-center ml-3 mt-2">Edit gossip</a>
  <a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger text-center ml-3 mt-2" data-confirm="are you sure?" data-method="DELETE">Delete gossip</a>

</body>
</html>
  
   
